body {
	background-color: #FAFAFA;
}

.jumbotron {
	background-color: #fff;
	border: solid 1px #eee;
	padding: 32px;
	margin: 30px auto 0;
}

.jumbotron-login {
	margin: 120px auto 0;
}

.card {
	border: solid 1px #fff;
}

.form-control {
	border: solid 1px #eee;
}

.btn:hover {
	cursor: pointer;
}

#postFormMessage {
	color: #dc3545 !important;
	text-align: center;
	margin-top: 24px;
}

.cryptofolio, .error404 {
	text-align: center;
	font-family: 'Oleo Script', cursive;
}

.form-control {
	background-color: #fafafa;
}

.switchtosignup {
	text-align: center;
	color: #868E95;
}

.form-control:disabled {
	background-color: #F8F9FA;
}

.or {
	text-align: center;
	vertical-align: center;
	color: #868E95;
	font-size: 11px;
	padding: 9px 0px 0px 0px!important;
}

.jumbotron-switch {
	padding: 10px 0px 10px 0px;
}

.alert-primary, .alert-success {
	font-size: 12px;
	padding: 8px 20px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
}

.card-body-login {
	padding-bottom: 0px;
}

.card-body {
	padding: 20px 0px 0px 0px;
}

.card-body-switch {
	padding-bottom: 20px;
}

.card-body-hide {
	background-color: #FAFAFA;
	border: none;
}
.card-hide {
	border: none;
}

.card-subtitle {
	text-align: center;
	margin: 0px!important;
	padding-top: 8px;
}

.mx-auto {
	margin: 0!important;
}

.card-body-form {
	padding: 60px;
}

@media (max-width: 575px) { 
	.jumbotron {
		background-color: #FAFAFA;
		border: none;		
	}
	.card-subtitle {
		background-color: #FAFAFA;
	}
	.card {
		border: none;
	}
	.card-body {
		background-color: #FAFAFA;
		border: none;		
	}
	.card-body-form {
		background-color: #fff;
	}

	.card-body-form {
		padding: 40px;
	}
	#currencyTable {
		background-color: #fff;
		border: solid 1px #eee;
		padding: 20px;
	}
	.mx-auto {
        margin-left: 130px!important;
        margin-right: 0px!important;
    }
    .hide-holdings {
    	display: none;
    }
}

#Cryptofolio, .card-form-crypto-name {
	font-family: 'Oleo Script', cursive;
}

.form-subtitle {
	text-align: center;
	/*margin: 0px!important;*/
	/*padding-top: 8px;*/
}

.card-form-crypto-name {
	background-color: #fff;
	border-bottom: none;
	text-align: center;
}

.navbar {
	background-color: #fff;
	border: solid 1px #eee;
}

#currencyTable {
	margin-top: 70px;
	margin-bottom: 12px;
}

.fixed-top {
	border-top: none;
}

.container.container-dash {
	margin: 0px!important;
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-toggler {
	cursor: pointer;
	outline: none !important;
  	box-shadow: none !important;   
}

.positive {
	color: #3cd483;
}

.negative {
	color: #ff6060;
}

.no-glow:focus {
  border-color:#ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-link, .table-header, .dropdown-header{
	text-align: center;
}

.issues-link {
	color: rgba(0,0,0,.5);
}

.table-header {
	/*font-size: 1.5rem;*/
	margin-bottom: 20px;
}

.table-header-border {
	border-bottom: 0px!important;
}

th, td {
	font-size: 0.8rem;
	/*border-color: #FAFAFA!important;*/
}

.dropdown-header {
	font-weight: 600;
	color: #212529;
	font-size: 1rem;
}

tr:hover {
	cursor: pointer;
	background-color: #FAFAFA;
}
.price-usd {
	color: #04A9F4;
	/*color: #33B4F6;*/
}

.percent {
	text-align: right;
}

.card-form {
	border: solid 1px #eee;
}

.table-top-border {
	border-top: none!important;
}

.table {
	margin-bottom: 0px;
}

#crypto-input {
	margin-top: 12px;
}

#invalid-crypto-value {
	text-align: center;
	margin-top: 10px;
	color: #dc3545 !important;
}

#submit-crypto {
	height: 38px;
}

.form-header-holdings {
	/*color: #7AA4DE;*/
	text-align: center;
	font-size: 12px;
}

.form-holdings {
	text-align: center;
	/*color: #0667D0;*/
	font-size: 40px;
}

.form-rate {
	text-align: center;
	/*color: #0667D0;*/
	font-size: 12px;	
}

#holdingsForm {
	margin-top: 70px;
}

.text-align-right {
	text-align: right;
}

.hide-top-border {
	border: none!important;
	padding-left: none;
}

.hide-hover:hover {
	background-color: #fff;
	cursor: default;
}
.hide-hover {
	/*color: #0667D0;*/
}

a:hover {
	color: rgba(0,0,0,.5)!important;
}



