body {
	background-color: #FAFAFA;
	/*background-color: #fff;*/
}

.jumbotron {
	background-color: #fff;
	border: solid 1px #eee;
	padding: 32px;
	margin: 30px auto 0;
}

.jumbotron-login {
	margin: 120px auto 0;
}

.card {
	border: solid 1px #fff;
}

.form-control {
	border: solid 1px #eee;
}

.btn:hover {
	cursor: pointer;
}

#postFormMessage {
	color: #dc3545 !important;
	text-align: center;
	margin-top: 24px;
}

.cryptofolio, .error404 {
	text-align: center;
	font-family: 'Oleo Script', cursive;
}

.form-control {
	background-color: #fafafa;
}

.switchtosignup {
	text-align: center;
	color: #868E95;
}

.form-control:disabled {
	background-color: #F8F9FA;
}

.or {
	text-align: center;
	vertical-align: center;
	color: #868E95;
	font-size: 11px;
	padding: 9px 0px 0px 0px!important;
}

.jumbotron-switch {
	padding: 10px 0px 10px 0px;
}

.alert-primary, .alert-success {
	font-size: 12px;
	padding: 8px 20px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
}

.card-body-login {
	padding-bottom: 0px;
}

.card-body {
	padding: 20px 0px 0px 0px;
}

.card-body-switch {
	padding-bottom: 20px;
}

.card-body-hide {
	background-color: #FAFAFA;
	border: none;
}
.card-hide {
	border: none;
}

.card-subtitle {
	text-align: center;
	margin: 0px!important;
	padding-top: 8px;
}

.mx-auto {
	margin: 0!important;
}

.card-body-form {
	padding: 50px;
}

@media (max-width: 575px) { 
	.jumbotron {
		background-color: #FAFAFA;
		border: none;		
	}
	.card-subtitle {
		background-color: #FAFAFA;
	}
	.card {
		border: none;
	}
	.card-body {
		background-color: #FAFAFA;
		border: none;		
	}

	.card-body-form {
		background-color: #fff;
		padding: 40px;
	}
	#currencyTable {
		background-color: #fff;
		border: solid 1px #eee;
		padding: 20px;
	}
	.mx-auto {
        margin-left: 130px!important;
        margin-right: 0px!important;
    }
    .jumbo-coin {
    	background-color: #fff;
		border: solid 1px #eee;
    }
}

@media (max-width: 768px) {
	.hide-holdings {
    	display: none;
    }
}

#Cryptofolio, .card-form-crypto-name {
	font-family: 'Oleo Script', cursive;
}

.form-subtitle {
	text-align: center;
	/*margin: 0px!important;*/
	/*padding-top: 8px;*/
}

.card-form-crypto-name {
	background-color: #fff;
	border-bottom: none;
	text-align: center;
}

.navbar {
	background-color: #fff;
	border: solid 1px #eee;
}

#currencyTable {
	margin-top: 70px;
	margin-bottom: 12px;
}

.fixed-top {
	border-top: none;
}

.container.container-dash {
	margin: 0px!important;
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-toggler {
	cursor: pointer;
	outline: none !important;
  	box-shadow: none !important;   
}

.positive {
	color: #3cd483;
	/*font-weight: 500;*/
}

.negative {
	color: #ff6060;
	/*font-weight: 500;*/
}

.no-glow:focus {
  border-color:#ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-link, .table-header, .dropdown-header{
	text-align: center;
}

.issues-link {
	color: rgba(0,0,0,.5);
}

.table-header {
	/*font-size: 1.5rem;*/
	margin-top: 80px;
}

.table-header-border {
	border-bottom: 0px!important;
	/*color: #7F7F7F;*/
}

th, td {
	font-size: 0.8rem;
	/*border: 1px solid red!important;*/
}

.dropdown-header {
	font-weight: 600;
	color: #212529;
	font-size: 1rem;
}

tr:hover {
	cursor: pointer;
	background-color: #FAFAFA;
}
.price-usd {
	/*color: #04A9F4;*/
	/*color: #33B4F6;*/
}

.percent {
	text-align: right;
}

.card-form {
	border: solid 1px #eee;
}

.table-top-border {
	border-top: none!important;
}

.table {
	margin-bottom: 0px;
}

#crypto-input {
	margin-top: 12px;
}

#invalid-crypto-value {
	text-align: center;
	margin-top: 10px;
	color: #dc3545 !important;
}

#submit-crypto {
	height: 38px;
}

.form-header-holdings {
	/*color: #7AA4DE;*/
	text-align: center;
	font-size: 12px;
}

.form-holdings {
	text-align: center;
	/*color: #0667D0;*/
	font-size: 40px;
}

.form-rate {
	text-align: center;
	/*color: #0667D0;*/
	font-size: 12px;	
}

#holdingsForm {
	margin-top: 70px;
}

.text-align-right {
	text-align: right;
}

.hide-top-border {
	border: none!important;
	padding-left: none;
}

.hide-hover:hover {
	background-color: #fff;
	cursor: default;
}
.hide-hover {
	/*color: #0667D0;*/
}

a:hover {
	color: rgba(0,0,0,.5)!important;
}

/*.icon {
	height: 20px;
	width: 20px;
}*/

.secondary {
	margin-top: 57px;
	text-align: center;
	padding: 0px;
/*
	display: inline-block;
  	float: none;
  	vertical-align: top;*/
}

.secondary-text {
	color: #212529!important;
	font-size: 12px;
	font-weight: 600;
}

#secondary-container {
	/*display: inline-block!important;*/
	margin-top: 70px;
}

.sec-nav-border {
	border-top: 0px!important;
}

#sec-jumbo {
	/*padding: 0px 65px;*/
	margin: 0px;
	border: 0px;
}

.table td, .table th {
	border-top: none;
}

.list-group-item {
	margin-bottom: 10px;
	border-radius: 10px;
}

.badge-pill {
	background-color: #eee;
	 display: flex;
	 float: right;
}

.neg {
	 margin-left: auto;
}

.jumbotron-fluid {
	background-color: #e9ecef!important;
	padding-right: 0!important;
  padding-left: 0!important;
  border-radius: 0!important;
}
.topcoin {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.icon-lg{
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
		height: 25px;
}
.icon-lg:hover, .topcoin:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.icon-form {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
	height: 70px;
	width: 70px;
	margin-bottom: 20px;
}
.icon-form:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.margin-top {
	margin-top: 130px;
}

.coin {
	font-weight: 600;
	font-size: 0.7rem;
	height: 100%;
	padding-top: 5px;
	text-align: center;
}

.coin-name {
	/*padding-left: 20px;*/
}

.jumbo-coin {
	padding: 14px 18px;
	margin-top: 10px;
	background-color: #fff;
	border-top: solid 1px #eee;
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
	border-bottom: none;
	border-radius: 0;
	margin-top: 0px;
}

.pad-0 {
	padding: 0px!important;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}
.jumbo-coin:hover {
	cursor: pointer;
	background-color: #FAFAFA;
}

.jumbo-secondary-coin {
	padding: 10px 18px;
	margin-top: 10px;
	background-color: #fafafa;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-radius: 0;
}

.fixed-secondary-nav {
    position: fixed;
    width: 100%;
    z-index: 5;
    margin-top: 40px;
    background-color: #fafafa;
    border: solid 1px #eee;
    border-top: none;
	border-left: none;
	border-right: none;
}

.s-nav-txt {
	font-size: 0.6rem;
	color: #bbb;
	padding-top: 8px;
}

#circle {
	width: 25px;
	height: 25px;
	background: #212529;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#form-circle {
	text-align: center;
	width: 100px;
	height: 100px;
	background: #212529;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.form-icon {
	text-align: center;
}

.arrow {
	height: 20px;
	width: 30px;
	color: white;
}

.btn-arrow {
	background-color: #fff;
	border: none;
}

.btn-arrow:hover {
	background-color: #fff;
	border: none;
}

.fixed {
	position: fixed;
}

.user-side {
	margin-top: 130px;
	background-color: #FAFAFA;
	min-width: 16%;
	border-radius: 0;
}

.err-container {
	margin-top: 70px;
}

.topcoin {
	height: 40px;
	width: 40px;
}

.topcoin-container {
	/*border: solid 1px red;*/
	margin-bottom: 20px;
	padding-right: 0px;
}

.row-r {
	/*border: solid 1px red;*/

}

.topcoin-sym {
	/*text-align: center;*/
	font-weight: 500;
	padding-top: 6px;
	font-size: 0.7rem;
}

.topcoin-holdings {
	font-size: 0.7rem;
	color: #aaa;
}

.topcoin-hr {
	border-color: #eee;
	margin-bottom: 20px;
}

.user-side-name {
	color: #aaa;
}


